:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

.dark-mode {
    --bg-color: #000000;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #0078D4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
